@import url('https://fonts.googleapis.com/css2?family=Manrope:wght@800&display=swap');
*{
    box-sizing: border-box;
}
body{
    background-color: hsl(218, 23%, 16%);
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: 'Manrope', sans-serif;
}